doctype html
html
 head
    title Hyung's Dance Academy
    block scripts
    block style
 body
    nav#navbar
        ul
          div#logo 
                img(src="https://www.clipartmax.com/png/middle/53-533441_creative-dance-logo-design.png") 
                |HDA
          li #[a(href='/') Home ]
          li #[a(href='/') About Us ]
          li #[a(href='/contact') Contact Us ]
          li #[a(href='/') Class Info ]
          li #[a(href='/') Services]
    block content
    footer#footer 
        | Copyright ©2023 Hyuangsacademy.com | All Rights Reserved. 